<div class="puzzle-area">
    <SudokuBoard Board="@(Board)"
                ChangeDescription="@(changeDescription)"/>

    <div class="btn-toolbar justify-content-between solver-btn-area">
        <button class="btn btn-outline-secondary sudoku-btn" disabled="@(boardStates.Count <= 1)" @onclick="GoBackOneStep">Back</button>
        <button class="btn btn-outline-secondary sudoku-btn" disabled="@(NoMoreHints)" @onclick="ShowNextHint">Hint</button>
        <button class="btn btn-outline-secondary sudoku-btn" disabled="@(!change.CausesChange)" @onclick="SolveNextStep">Next step</button>
    </div>

    <ul hidden="@(!hintDescriptions.Any())">
        @foreach (var hintDescription in hintDescriptions)
        {
            <li>@hintDescription</li>
        }
    </ul>

    @if (!boardIsValid) {
        <p>Oh no! The Sudoku puzzle got into an invalid state :(</p>
    } else if (change.CausesChange) {
        @* <p>@(change.FoundBy.DifficultyLevel) step: @(change.FoundBy.Description)</p> *@
    } else {
        if (Board.IsComplete) {
            <p>Sudoku solved!</p>
        } else {
            <p>Couldn't find any more steps for solving the Sudoku :(</p>
        }
    }
</div>

@code {
    [Parameter]
    public BoardState Board { get; set; }

    private List<BoardState> boardStates;
    private ISolver solver;
    private ISudokuRules rules;
    private IBoardStateChange change;
    private List<ChangeHint> hints;
    private int currentHint;
    private bool NoMoreHints => currentHint > hints.Count;
    private List<string> hintDescriptions = new List<string>();
    private IChangeDescription changeDescription = NoChangeDescription.Instance;

    private bool boardIsValid;

    protected override void OnInitialized()
    {
        this.boardStates = new List<BoardState> { Board };
        this.rules = new StandardSudokuRules();
        this.solver = new ChainedSolver()
            .WithSolver(new Solver().WithTechnique(NakedSubset.NakedSingle()).GlobChanges())
            .WithSolver(new Solver().WithTechnique(EliminationByValue.AllDirections()).GlobChanges())
            .WithSolver(new Solver().WithTechnique(HiddenSubset.HiddenSingleRow()).GlobChanges())
            .WithSolver(new Solver().WithTechnique(HiddenSubset.HiddenSingleColumn()).GlobChanges())
            .WithSolver(new Solver().WithTechnique(HiddenSubset.HiddenSingleBox()).GlobChanges())
            .WithSolver(new Solver()
                .WithTechnique(LockedCandidatesPointing.AllDirections())
                .WithTechnique(LockedCandidateClaiming.AllDirections())
                .WithTechnique(NakedSubset.NakedPairs())
                .WithTechnique(HiddenSubset.HiddenPairs())
                .WithTechnique(NakedSubset.NakedTriples())
                .WithTechnique(HiddenSubset.HiddenTriples())
                .WithTechnique(NakedSubset.NakedQuads())
                .WithTechnique(HiddenSubset.HiddenQuads())
                .WithTechnique(FishTechnique.XWing())
                .WithTechnique(WingTechnique.XyWing())
                .WithTechnique(FishTechnique.Swordfish())
                .WithTechnique(FishTechnique.Jellyfish())
                .WithTechnique(WingTechnique.XyzWing())
                .WithTechnique(WingTechnique.WxyzWing()));

        this.boardIsValid = this.rules.BoardIsValid(Board);
        ComputeChangeAndHints();
    }

    private void ComputeChangeAndHints()
    {
        this.change = ComputeNextStep();
        this.changeDescription = NoChangeDescription.Instance;
        this.hints = this.change.ChangeHinter.GetHints().ToList();
        this.currentHint = 0;
        this.hintDescriptions.Clear();
    }

    private void SolveNextStep()
    {
        this.boardIsValid = this.rules.BoardChangeIsValid(Board, this.change);
        var newBoard = Board.ApplyChange(this.change);
        Board = newBoard;
        this.boardStates.Add(Board);
        ComputeChangeAndHints();
    }

    private IBoardStateChange ComputeNextStep() =>
        (Board.IsComplete || !this.boardIsValid)
            ? BoardStateNoChange.Instance
            : solver.GetNextChange(Board);

    private void GoBackOneStep()
    {
        if (this.boardStates.Count > 1)
        {
            this.boardStates.RemoveAt(this.boardStates.Count - 1);
            Board = this.boardStates[this.boardStates.Count - 1];
            this.boardIsValid = true;
            ComputeChangeAndHints();
        }
    }

    private void ShowNextHint()
    {
        if (this.currentHint < this.hints.Count)
        {
            var hint = this.hints[currentHint++];
            this.changeDescription = hint.ChangeDescription;
            this.hintDescriptions.Add(hint.Description);
        }
        else if (this.currentHint == this.hints.Count)
        {
            this.currentHint++;
            this.changeDescription = this.change.Description;
            this.hintDescriptions.Add($"{this.change.FoundBy.DifficultyLevel} step: {this.change.FoundBy.Description}");
        }
    }
}