<div class="puzzle-area">
    <div>
        <span>easiest step</span>
        <label class="switch">
            <input type="checkbox" @onchange="ToggleTechniqueSelection">
            <span class="slider round"></span>
        </label>
        <span>technique selection</span>
    </div>

    <div class="switch-button">
        <input class="switch-button-checkbox" type="checkbox" @onchange="ToggleTechniqueSelection"/>
        <label class="switch-button-label" for="">
            <span class="switch-button-label-span">easiest step</span>
        </label>
    </div>

	<div class="toggle">
		<input type="radio" name="sizeBy" value="weight" id="sizeWeight" checked="checked" />
		<label for="sizeWeight">Easiest step only</label>
		<input type="radio" name="sizeBy" value="dimensions" id="sizeDimensions" />
		<label for="sizeDimensions">Technique selection</label>
	</div>

    @if (showTechniqueSelection)
    {
        <div>
            @foreach (var technique in this.techniqueList) {
                <SudokuTechniqueCollection Technique="@(technique)" OnShowHintCallback="OnShowHint" OnShowChangeCallback="OnShowChange" />
            }
        </div>
    }

    <SudokuBoard Board="@(Board)" Change="@(shownChange)"/>

    <div class="btn-toolbar justify-content-between solver-btn-area">
        <button class="btn btn-outline-secondary sudoku-btn" disabled="@(boardStates.Count <= 1)" @onclick="BackClick">Back</button>
        <button class="btn btn-outline-secondary sudoku-btn" disabled="@(NoMoreHints)" @onclick="NextHintClick">Hint</button>
        <button class="btn btn-outline-secondary sudoku-btn" disabled="@(!changeDescription.Change.HasEffect)" @onclick="NextStepClick">Next step</button>
    </div>

    <div>
        <ul hidden="@(!hintDescriptions.Any())">
            @foreach (var hintDescription in hintDescriptions)
            {
                <li>@hintDescription</li>
            }
        </ul>

        @if (!boardIsValid) {
            <p>Oh no! The Sudoku puzzle got into an invalid state :(</p>
        } else if (changeDescription.Change.HasEffect) {
            @* <p>@(change.FoundBy.DifficultyLevel) step: @(change.FoundBy.Description)</p> *@
        } else {
            if (Board.IsComplete) {
                <p>Sudoku solved!</p>
            } else if (false /*todo: check if any techniques can be applied*/) {
                <p>Select which technique to apply.</p>
            } else {
                <p>Couldn't find any more steps for solving the Sudoku :(</p>
            }
        }
    </div>
</div>

@code {
    [Parameter]
    public BoardState Board { get; set; }

    private bool showTechniqueSelection;

    private List<BoardState> boardStates;
    private ISolver solver;
    private ISudokuRules rules;
    private IChangeDescription changeDescription = NoChangeDescription.Instance;
    private IBoardStateChange shownChange;
    private List<ChangeHint> hints;
    private int currentHint;
    private bool NoMoreHints => currentHint > hints.Count || !changeDescription.Change.HasEffect;
    private List<string> hintDescriptions = new List<string>();

    private List<ITechnique> techniqueList;
    private TechniqueCollection techniqueCollection;

    private bool boardIsValid;

    protected override async Task OnInitializedAsync()
    {
        this.boardStates = new List<BoardState> { Board };
        this.rules = new StandardSudokuRules();

        this.solver = new ChainedSolver()
            .WithSolver(new Solver().With(Technique.Subsets.NakedSingle()).GlobChanges())
            .WithSolver(new Solver().With(Technique.EliminationByValue.AllDirections()).GlobChanges())
            .WithSolver(new Solver().With(Technique.Subsets.HiddenSingleRow()).GlobChanges())
            .WithSolver(new Solver().With(Technique.Subsets.HiddenSingleColumn()).GlobChanges())
            .WithSolver(new Solver().With(Technique.Subsets.HiddenSingleBox()).GlobChanges())
            .WithSolver(new Solver()
                .With(Technique.LockedCandidates.Pointing.AllDirections())
                .With(Technique.LockedCandidates.Claiming.AllDirections())
                .With(Technique.Subsets.NakedPairs())
                .With(Technique.Subsets.HiddenPairs())
                .With(Technique.Subsets.NakedTriples())
                .With(Technique.Subsets.HiddenTriples())
                .With(Technique.Subsets.NakedQuads())
                .With(Technique.Subsets.HiddenQuads())
                .With(Technique.Fish.XWing())
                .With(Technique.Wings.XyWing())
                .With(Technique.Fish.Swordfish())
                .With(Technique.Fish.Jellyfish())
                .With(Technique.Wings.XyzWing())
                .With(Technique.Wings.WxyzWing()));

        this.techniqueList = new List<ITechnique>
        {
            new TechniqueCollection("Basic", new List<ITechnique> {
                new TechniqueCollection("Elimination By Value", new List<ITechnique> {
                    new TechniqueWrapper("Elimination by Row", Technique.EliminationByValue.Row()),
                    new TechniqueWrapper("Elimination by Column", Technique.EliminationByValue.Column()),
                    new TechniqueWrapper("Elimination by Box", Technique.EliminationByValue.Box()),
                })
            }),
            new TechniqueCollection("Subsets", new List<ITechnique> {
                new TechniqueCollection("Naked", new List<ITechnique> {
                    new TechniqueWrapper("Naked Single", Technique.Subsets.NakedSingle()),
                    new TechniqueCollection("Naked Pair", new List<ITechnique> {
                        new TechniqueWrapper("Naked Pair (Row)", Technique.Subsets.NakedPairRow()),
                        new TechniqueWrapper("Naked Pair (Column)", Technique.Subsets.NakedPairColumn()),
                        new TechniqueWrapper("Naked Pair (Box)", Technique.Subsets.NakedPairBox()),
                    }),
                    new TechniqueCollection("Naked Triple", new List<ITechnique> {
                        new TechniqueWrapper("Naked Triple (Row)", Technique.Subsets.NakedTripleRow()),
                        new TechniqueWrapper("Naked Triple (Column)", Technique.Subsets.NakedTripleColumn()),
                        new TechniqueWrapper("Naked Triple (Box)", Technique.Subsets.NakedTripleBox()),
                    }),
                    new TechniqueCollection("Naked Quad", new List<ITechnique> {
                        new TechniqueWrapper("Naked Quad (Row)", Technique.Subsets.NakedQuadRow()),
                        new TechniqueWrapper("Naked Quad (Column)", Technique.Subsets.NakedQuadColumn()),
                        new TechniqueWrapper("Naked Quad (Box)", Technique.Subsets.NakedQuadBox()),
                    })
                }),
                new TechniqueCollection("Hidden", new List<ITechnique> {
                    new TechniqueCollection("Hidden Single", new List<ITechnique> {
                        new TechniqueWrapper("Hidden Single (Row)", Technique.Subsets.HiddenSingleRow()),
                        new TechniqueWrapper("Hidden Single (Column)", Technique.Subsets.HiddenSingleColumn()),
                        new TechniqueWrapper("Hidden Single (Box)", Technique.Subsets.HiddenSingleBox()),
                    }),
                    new TechniqueCollection("Hidden Pair", new List<ITechnique> {
                        new TechniqueWrapper("Hidden Pair (Row)", Technique.Subsets.HiddenPairRow()),
                        new TechniqueWrapper("Hidden Pair (Column)", Technique.Subsets.HiddenPairColumn()),
                        new TechniqueWrapper("Hidden Pair (Box)", Technique.Subsets.HiddenPairBox()),
                    }),
                    new TechniqueCollection("Hidden Triple", new List<ITechnique> {
                        new TechniqueWrapper("Hidden Triple (Row)", Technique.Subsets.HiddenTripleRow()),
                        new TechniqueWrapper("Hidden Triple (Column)", Technique.Subsets.HiddenTripleColumn()),
                        new TechniqueWrapper("Hidden Triple (Box)", Technique.Subsets.HiddenTripleBox()),
                    }),
                    new TechniqueCollection("Hidden Quad", new List<ITechnique> {
                        new TechniqueWrapper("Hidden Quad (Row)", Technique.Subsets.HiddenQuadRow()),
                        new TechniqueWrapper("Hidden Quad (Column)", Technique.Subsets.HiddenQuadColumn()),
                        new TechniqueWrapper("Hidden Quad (Box)", Technique.Subsets.HiddenQuadBox()),
                    })
                })
            }),
            new TechniqueCollection("Locked Candidates", new List<ITechnique> {
                new TechniqueCollection("Pointing", new List<ITechnique> {
                    new TechniqueWrapper("Pointing (Row)", Technique.LockedCandidates.Pointing.Row()),
                    new TechniqueWrapper("Pointing (Column)", Technique.LockedCandidates.Pointing.Column()),
                }),
                new TechniqueCollection("Claiming", new List<ITechnique> {
                    new TechniqueWrapper("Claiming (Row)", Technique.LockedCandidates.Claiming.Row()),
                    new TechniqueWrapper("Claiming (Column)", Technique.LockedCandidates.Claiming.Column()),
                }),
            }),
            new TechniqueCollection("Fish", new List<ITechnique> {
                new TechniqueCollection("X-Wing (2-Fish)", new List<ITechnique> {
                    new TechniqueWrapper("X-Wing (Row)", Technique.Fish.TwoRow()),
                    new TechniqueWrapper("X-Wing (Column)", Technique.Fish.TwoColumn()),
                }),
                new TechniqueCollection("Swordfish (3-Fish)", new List<ITechnique> {
                    new TechniqueWrapper("Swordfish (Row)", Technique.Fish.ThreeRow()),
                    new TechniqueWrapper("Swordfish (Column)", Technique.Fish.ThreeColumn()),
                }),
                new TechniqueCollection("Jellyfish (2-Fish)", new List<ITechnique> {
                    new TechniqueWrapper("Jellyfish (Row)", Technique.Fish.FourRow()),
                    new TechniqueWrapper("Jellyfish (Column)", Technique.Fish.FourColumn()),
                }),
            }),
            new TechniqueCollection("Wings", new List<ITechnique> {
                new TechniqueWrapper("XY-Wing", Technique.Wings.XyWing()),
                new TechniqueWrapper("XYZ-Wing", Technique.Wings.XyzWing()),
                new TechniqueWrapper("WXYZ-Wing", Technique.Wings.WxyzWing()),
            }),
        };
        this.techniqueCollection = new TechniqueCollection("Techniques", this.techniqueList);
        this.boardIsValid = this.rules.BoardIsValid(Board);

        ComputeInitialBoardChanges();
        SetChangeDescription(NoChangeDescription.Instance);
        await ComputeNextStepForTechniques();
    }

    private void ComputeInitialBoardChanges()
    {
        if (Board.IsComplete || !this.boardIsValid)
        {
            return;
        }

        var solver = new Solver().With(Technique.EliminationByValue.AllDirections()).GlobChanges();
        var changeDescription = solver.GetNextChange(Board);
        if (changeDescription.Change.HasEffect)
        {
            Board = Board.ApplyChange(changeDescription.Change);
        }
    }

    private async Task<IChangeDescription> ComputeNextStepForTechniques()
    {
        if (Board.IsComplete || !this.boardIsValid)
        {
            return NoChangeDescription.Instance;
        }

        this.techniqueCollection.ClearSolverChanges();
        return await this.techniqueCollection.FindChangeFor(Board);
    }

    private async Task NextStepClick()
    {
        this.boardIsValid = this.rules.BoardChangeIsValid(Board, this.changeDescription.Change);
        var newBoard = Board.ApplyChange(this.changeDescription.Change);
        Board = newBoard;
        this.boardStates.Add(Board);

        SetChangeDescription(NoChangeDescription.Instance);
        await ComputeNextStepForTechniques();
    }

    private async Task BackClick()
    {
        if (this.boardStates.Count > 1)
        {
            this.boardStates.RemoveAt(this.boardStates.Count - 1);
            Board = this.boardStates[this.boardStates.Count - 1];
            this.boardIsValid = true;

            SetChangeDescription(NoChangeDescription.Instance);
            await ComputeNextStepForTechniques();
        }
    }

    private void NextHintClick() => ShowNextHint();

    private bool ShowNextHint()
    {
        if (this.currentHint < this.hints.Count)
        {
            var hint = this.hints[currentHint++];
            this.shownChange = hint.Change;
            this.hintDescriptions.Add(hint.Description);
            return true;
        }
        else if (this.currentHint == this.hints.Count)
        {
            this.currentHint++;
            this.shownChange = this.changeDescription.Change;
            this.hintDescriptions.Add($"{this.changeDescription.FoundBy.DifficultyLevel} step: {this.changeDescription.FoundBy.Description}");
            return true;
        }

        return false;
    }

    private void ShowAllHints()
    {
        while (ShowNextHint()) { }
    }

    private void ClearHints()
    {
        this.shownChange = this.changeDescription.Change;
        this.hints = this.changeDescription.ChangeHinter.GetHints().ToList();
        this.currentHint = 0;
        this.hintDescriptions.Clear();
    }

    private void SetChangeDescription(IChangeDescription changeDescription)
    {
        this.changeDescription = changeDescription;
        ClearHints();
    }

    private async Task OnShowHint(IChangeDescription change)
    {
        Console.WriteLine("Show Hint");
        SetChangeDescription(change);
        if (this.changeDescription.Change.HasEffect)
        {
            ShowNextHint();
        }
    }

    private async Task OnShowChange(IChangeDescription change)
    {
        Console.WriteLine("Show Change");
        SetChangeDescription(change);
        if (this.changeDescription.Change.HasEffect)
        {
            ShowAllHints();
        }
    }

    private async Task ToggleTechniqueSelection(ChangeEventArgs e)
    {
        Console.WriteLine("toggled: " + e.Value);
        this.showTechniqueSelection = (bool)e.Value;
        if (this.showTechniqueSelection)
        {
            await ComputeNextStepForTechniques();
        }
    }
}